---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {
	SITE_TITLE,
	SITE_DESCRIPTION,
	INSTAGRAM_URL,
	NEWSLETTER_URL,
} from "../consts";
import DefaultLayout from "../layouts/DefaultLayout.astro";

const links = [
	{ name: "Instagram", url: INSTAGRAM_URL },
	{ name: "Newsletter", url: NEWSLETTER_URL },
];
---

<DefaultLayout>
	<div
		class="w-full h-screen bg-gradient-to-b to-[#C8A2C8] via-[#CCCCFF] from-[#ADD8E6] text-center flex justify-center items-center flex-col space-y-5"
	>
		<h1 class="font-lobster text-7xl text-white">{SITE_TITLE}</h1>
		<p class="text-white text-3xl font-lobster">{SITE_DESCRIPTION}</p>
		<div class="flex gap-3 flex-wrap p-5 justify-center items-center">
			{
				links.map((link) => (
					<a
						href={link.url}
						class="text-white bg-purple-500 p-2 rounded-md font-lobster text-3xl hover:underline"
					>
						{link.name}
					</a>
				))
			}
		</div>
	</div>
</DefaultLayout>
